a#header-nav-links-main {
    color: rgb(200, 200, 200);
}

.top-article {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 1200px;
}

.sub-head-wrap {
    margin-top: 202px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
}

.sub-head-wrap-introduction {
    font-size: 17px;
    line-height: initial;
    width: 100%;
    text-shadow: 1px 1px 1px black;
    font-family: "Roboto Condensed", sans-serif;
    color: #ebebeb;
    font-weight: 300;
    user-select: none;
}

span.bold.shad {
    font-weight: 600;
    color: white;
}

a.orange-bold {
    text-decoration: none;
    color: rgb(255, 204, 0);
    font-weight: 600;
    font-size: 18px;
}

.comparison {
    width: 100%;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
}

section.comparison-side {
    grid-row: 1;
    background-color: rgba(26, 26, 26, 0.8);
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    clip-path: polygon(15px 0px, 100% 0px, 100% 100%, calc(100% - 15px) 100%, 0px 100%, 0px 15px);
    width: 47.5%;
}

.comparison-new-header {
    display: flex;
}

.bold.shad {
    margin-left: 4px;
    font-size: 20px;
    font-weight: 600;
}

header.comparison-item-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 204, 0, 0.82);
    font-size: 18px;
    height: 100px;
    justify-content: center;
    font-size: 20px;
}

.comparison-item {
    margin-top: 20px;
    margin-left: 10px;
    height: 80%;
    line-height: 22px;
    text-shadow: rgba(0, 0, 0, 0.6) 0px 2px 2px;
    color: rgba(255, 255, 255);
    font-weight: 600;
    inset CONTAIN-INTRINSIC-BLOCK-SIZE: AUTO 100PX;
    inset CONTAIN-INTRINSIC-BLOCK-SIZE: AUTO 100PX;
    inset 0 -1px CONTAIN-INTRINSIC-BLOCK-SIZE: AUTO 100PX;
    inset 0 -1px CONTAIN-INTRINSIC-BLOCK-SIZE: AUTO 100PX;
    inset 0 -1px 0 CONTAIN-INTRINSIC-BLOCK-SIZE: AUTO 100PX;
    inset 0 -1px 0 CONTAIN-INTRINSIC-BLOCK-SIZE: AUTO 100PX;
    display: flex;
    flex-direction: column;
}

.comparison-item.--foot {
    box-shadow: inset 0 1px 0 0;
    margin-left: 0;
    height: 40px;
    margin-top: 0;
    align-items: center;
    padding-top: 10px;
}

dt.comparison-item-price {
    font-size: 24px;
    color: rgb(255, 204, 0);
}