nav.header-navbar.navbar {
    height: 100px;
    background: linear-gradient(#000000cc, #222222cc);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
    border-top: solid 0px #666;
    border-bottom: solid 2px #666;
    border-radius: 0;
    backdrop-filter: saturate(180%) blur(20px);
    transition: background-color 1s ease-in-out, box-shadow 1s ease-in-out;
    z-index: 999;
    padding: 0px 4px 0px 4px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(34, 34, 34, 0.8));
    backdrop-filter: saturate(1.8) blur(20px);
    min-width: 1192px;
    display: flex;
    justify-content: center;
}

.header-navbar.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    min-width: 900px;
}

.png-logo {
    width: 132px;
    padding-top: 12px;
}

ul.header-navbar.ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.header-navbar.right.container {
    margin-left: 10%;
}

a.\.header-nav-links {
    position: relative;
    font-weight: 600;
    text-transform: uppercase;
    z-index: 0;
    color: #ababab;
    font-family: "Roboto", sans-serif;
    letter-spacing: -0.2px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

a.logo-a {
    height: 100%;
}

.header-navbar.subtop {
    position: fixed;
    animation-duration: 0.75s;
    transition-duration: 0.75s;
    top: 100px;
    background-color: rgba(247, 247, 247, 0.9);
    border-bottom-color: rgb(135, 135, 135);
    font-size: 16px;
    opacity: 1;
    width: 100%;
    height: 52px;
    display: flex;
    min-width: 900px;
    justify-content: center;
}

.header-navbar.subtop-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 900px;
}

p#nav-address {
    color: #333;
    padding-right: 12px;
    font-family: Roboto, sans-serif;
    font-size: 20px;
}

a#nav-phone {
    font-weight: 600;
    padding-right: 12px;
    font-size: 20px;
    color: #333;
    text-decoration: none;
    font-family: Roboto, sans-serif;
}

.header-navbar-refcontainer {
    display: flex;
}

svg.header-navbar-refcontainer-icon {
    margin-left: 10px;
    margin-right: 10px;
}