<section class="bottomBanner-section">
    <div class="bottomBanner-div" style="background-image: url({{ MEDIA_URL }}/media/images/main/wrinkled-plastic-wrap-texture-on-a-black-wallpaper-md.jpg);">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/main/bottomBanner.css' %}">
        <div class="bottomBanner-container">

            <div class="bottomBanner-row">
                Предлагаем партнёрство в сфере Фулфилмент / Fulfillment.
            </div>

            <div class="bottomBanner-row">
                По всем вопросам и предложениям, пишите на почту: <a href="mailto:info@fillru.ru" class="bottomBanner-link-orange"> info@fillru.ru</a>
            </div>

            <div class="bottomBanner-row">
                или звоните по телефону: <a href="tel:+79250984344" class="bottomBanner-link-orange">8 (925) 098-43-44</a>
            </div>

        </div>
    </div>

    <div class="bottomBanner-footer-div">
        <div class="bottomBanner-row">
            Все права сохранены и защищены © «<a href="tel:+79250984344" class="bottomBanner-link-orange">Fillru</a>», Москва, 2024
        </div>
    </div>

</section>