<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Fillru - FBS, FBO Фулфилмент в Москве: Ozon | WildBerries | Я.Маркет</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main/main.css' %}">
   <link rel="shortcut icon" type="image/png" href="{{ MEDIA_URL }}/media/favicon.ico"/>
   <script src="{% static 'js/main/main.js' %}" type="module"></script>
</head>
<body>
    {% include "navigation.html" %}
    <article class="top-article" style="background: url({{ MEDIA_URL }}/media/images/main/defaultStoreroom.webp), black; background-size: cover;">
      <div class="sub-head-wrap">
        <div class="sub-head-wrap-introduction">
          <p><span class="bold shad">Fillru </span>
          - фулфилмент по системам: FBO / FBS в Москве — для интернет магазинов, и поставщиков, работающих через маркетплейсы: Ozon | WildBerries | Яндекс Маркет и др.
            <a href="tel:+79250984344" class="orange-bold"> +7 (925) 098-43-44</a></p>
        </div>
              <div class="comparison">
            <section class="comparison-side">
              <header class="comparison-item-head">
                <div class="comparison-new-header">Обработка товара по системе <div class="bold shad">FBO</div>
                </div>
                <div class="bold shad">
                  (10x10x10 см) (до 500 гр)
                </div>
              </header>
                <div class="comparison-item">
                  <dt>1) Разгрузка</dt>
                  <dt>2) Приёмка</dt>
                  <dt>3) Хранение</dt>
                  <dt>4) Маркировка (Штрихкод, QR Code)</dt>
                  <dt>5) Упаковка в воздушно-пузырьковую плёнку</dt>
                  <dt>6) Упаковка в ПВД рукав</dt>
                  <dt>7) Финальная маркировка (Штрих-код, QR Code)</dt>
                  <dt>8) Формирование короба (до 20 кг)</dt>
                  <dt>9) Доставка до склада маркетплейса</dt>
                </div>
                <div class="comparison-item --foot">
                  <dt class="comparison-item-price"> 38 ₽</dt>
                </div>
            </section>

            <section class="comparison-side">
              <header class="comparison-item-head">
                <div class="comparison-new-header">Обработка товара по системе <div class="bold shad">FBS</div>
                </div>
                <div class="bold shad">
                  (10x10x10 см) (до 500 гр)
                </div>
              </header>
                <div class="comparison-item">
                  <dt>1) Разгрузка</dt>
                  <dt>2) Приёмка</dt>
                  <dt>3) Хранение</dt>
                  <dt>4) Маркировка (Штрихкод, QR Code)</dt>
                  <dt>5) Упаковка в воздушно-пузырьковую плёнку</dt>
                  <dt>6) Упаковка в ПВД рукав</dt>
                  <dt>7) Финальная маркировка (Штрих-код, QR Code)</dt>
                  <dt>8) Доставка до ПВЗ маркетплейса</dt>
                </div>
                <div class="comparison-item --foot">
                  <dt class="comparison-item-price"> 70 ₽</dt>
                </div>
            </section>
          </div>
      </div>
    </article>
    <section class="main-section">
      <div class="BlackBoldMiddleBox">
        О компании «Fillru»
      </div>
      <p>
        Компания «Fillru» — это поставщик услуг фулфилмента для различных брендов и компаний, которые хотят упростить свою логистическую цепочку и повысить качество обслуживания своих клиентов. Наша основная задача — обеспечить максимально быструю и эффективную доставку товаров по Москве, и М.О., используя передовые технологии и оптимальную систему управления запасами.
      </p>
        <div class="BlackBoldMiddleBox">
        Прайс-лист
      </div>
        <div class="table-header">
          Прайс-лист на услуги фулфилмент
        </div>


        <div class="table-header">
          Забор груза
        </div>
      <table class="table-striped">
        <tbody class="table-striped-body">
          <tr class="table-striped-line">
            <td>Забор товара СДЭК (Фестивальная ул., 41, корп. 4) (Короб до 20 кг.)
                </td>
            <td>400 ₽</td>
          </tr>
          <tr class="table-striped-line">
            <td>
            Забор товара с ПВЗ (от 5 единиц)
                </td>
            <td>40 ₽</td>
          </tr>
          <tr class="table-striped-line">
            <td>
            Забор груза в пределах МКАД до 1 м3 и 150 кг
                </td>
            <td>1 100 ₽</td>
          </tr>
          <tr class="table-striped-line">
            <td>
            Забор груза в пределах МКАД до 3 м3 и 900 кг</b></td>
            <td>3 300 ₽</td>
          </tr>
          <tr class="table-striped-line">
            <td>
            Забор груза в пределах МКАД до 5 м3 и 1,5 тонны
            </td>
            <td>5 500 ₽</td>
          </tr>
          <tr class="table-striped-line">
            <td>
            Забор груза за пределами МКАД (50 руб/км)
                </td>
            <td>50 ₽</td>
          </tr>
          <tr class="table-striped-line">
            <td>
            Въезд на платную территорию и погрузочно-разгрузочные работы на ней</td>
            <td>по тарифам территории</td>
          </tr>
        </tbody>
      </table>

    </section>

    {% include "main/priceCalculator.html" %}

    {% include "main/contacts.html" %}

</body>
</html>