<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Fillru - FBS, FBO Фулфилмент в Москве: Ozon | WildBerries | Я.Маркет</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main/main.css' %}">
   <link rel="shortcut icon" type="image/png" href="{{ MEDIA_URL }}/media/favicon.ico"/>
   <script src="{% static 'js/main/main.js' %}" type="module"></script>
    {% include "animation_packs/resize-in_pack.html" %}
</head>
<body>
    {% include "loader.html" %}
    {% include "navigation.html" %}
    <article class="top-article" style="background: url({{ MEDIA_URL }}/media/images/main/defaultStoreroom.webp), black; background-size: cover;">
      <div class="sub-head-wrap">
        <div class="sub-head-wrap-introduction resizeInElement">
            <span class="bold shad">Fillru </span>
          - фулфилмент по системам: FBO / FBS в Москве — для интернет магазинов, и поставщиков, работающих через маркетплейсы: Ozon | WildBerries | Яндекс Маркет и др.
            <a href="tel:+79250984344" class="orange-bold"> +7 (925) 098-43-44</a>
        </div>
              <div class="comparison">
            <section class="comparison-side resizeInElement">
              <header class="comparison-item-head">
                <div class="comparison-new-header">Обработка товара по системе <div class="bold shad">FBO</div>
                </div>
                <div class="bold shad">
                  (10x10x10 см) (до 500 гр)
                </div>
              </header>
                <div class="comparison-item">
                  <dt>1) Разгрузка</dt>
                  <dt>2) Приёмка</dt>
                  <dt>3) Хранение</dt>
                  <dt>4) Маркировка (Штрихкод, QR Code)</dt>
                  <dt>5) Упаковка в воздушно-пузырьковую плёнку</dt>
                  <dt>6) Упаковка в ПВД рукав</dt>
                  <dt>7) Финальная маркировка (Штрих-код, QR Code)</dt>
                  <dt>8) Формирование короба (до 20 кг)</dt>
                  <dt>9) Доставка до склада маркетплейса</dt>
                </div>
                <div class="comparison-item --foot">
                  <dt class="comparison-item-price"> {{ FBO_main }} ₽</dt>
                </div>
            </section>

            <section class="comparison-side resizeInElement">
              <header class="comparison-item-head">
                <div class="comparison-new-header">Обработка товара по системе <div class="bold shad">FBS</div>
                </div>
                <div class="bold shad">
                  (10x10x10 см) (до 500 гр)
                </div>
              </header>
                <div class="comparison-item">
                  <dt>1) Разгрузка</dt>
                  <dt>2) Приёмка</dt>
                  <dt>3) Хранение</dt>
                  <dt>4) Маркировка (Штрихкод, QR Code)</dt>
                  <dt>5) Упаковка в воздушно-пузырьковую плёнку</dt>
                  <dt>6) Упаковка в ПВД рукав</dt>
                  <dt>7) Финальная маркировка (Штрих-код, QR Code)</dt>
                  <dt>8) Доставка до ПВЗ маркетплейса</dt>
                </div>
                <div class="comparison-item --foot">
                  <dt class="comparison-item-price"> {{ FBS_main }} ₽</dt>
                </div>
            </section>
          </div>
      </div>
    </article>
    <section class="main-section">
      <div class="BlackBoldMiddleBox resizeInElement">
        О компании «Fillru»
      </div>
      <p class="resizeInElement">
        Компания «Fillru» — это поставщик услуг фулфилмента для различных брендов и компаний, которые хотят упростить свою логистическую цепочку и повысить качество обслуживания своих клиентов. Наша основная задача — обеспечить максимально быструю и эффективную доставку товаров по Москве, и М.О., используя передовые технологии и оптимальную систему управления запасами.
      </p>
        <div class="BlackBoldMiddleBox resizeInElement">
        Прайс-лист
      </div>
        <div class="table-header table-header-header resizeInElement">
          Прайс-лист на услуги фулфилмент
        </div>

      {% for key, values in services.items %}
       <div class="table-header resizeInElement">
        {{ key }}
      </div>
      <table class="table-striped resizeInElement">
        <tbody class="table-striped-body">
        {% for value in values %}
          <tr class="table-striped-line">
            <td>
              {{ value.name }}
            </td>
            <td class="table-price-td"> {{ value.price }} ₽</td>
          </tr>
         {% endfor %}
        </tbody>
      </table>
      {% endfor %}

    </section>

    {% include "main/priceCalculator.html" %}

    {% include "main/contacts.html" %}

    {% include "main/bottomBanner.html" %}

</body>
</html>