<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Fillru - FBS, FBO Фулфилмент в Москве: Ozon | WildBerries | Я.Маркет</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main/main.css' %}">
</head>
<body>
    {% include "navigation.html" %}
    <article class="main-article">
        <div class="sub-head-wrap">
    <header>
      <h1><span class="bold shad1">FIllru </span>Фулфилмент по системам: FBO / FBS в Москве — для интернет магазинов, и поставщиков, работающих через маркетплейсы: Ozon | WildBerries | Яндекс Маркет и др. <br class="sm-show">
        <br class="mobon"><a href="tel:+79250984344" class="orange bold"> +7 (925) 098-43-44</a>
      </h1>
    </header>

    <div class="compare">
      <section class="compare-left">
        <header class="compare-item --head --primary">
          <h2 class="compare-new-header text-center" style="color: #000; line-height: 24px;">Обработка товара по системе <b>FBO</b>
            <span class="bold">(10x10x10 см) (до 500 гр)</span>
          </h2>
        </header>
        <dl aria-label="scientific classification">
          <div class="compare-item">
            <dt>1) Разгрузка</dt>
            <dt>2) Приёмка</dt>
            <dt>3) Хранение</dt>
            <dt>4) Маркировка (Штрихкод, QR Code)</dt>
            <dt>5) Упаковка в воздушно-пузырьковую плёнку
            </dt><dt>6) Упаковка в ПВД рукав</dt>
            <dt>7) Финальная маркировка (Штрих-код, QR Code)</dt>
            <dt>8) Формирование короба (до 20 кг)</dt>
            <dt>9) Доставка до склада маркетплейса</dt>
          </div>
          <div class="compare-item --foot">
            <dt class="orange price fbs text-center"> 38 ₽</dt>
          </div>
        </dl>
      </section>

      <section class="compare-right">
        <header class="compare-item --head --accent">
          <h2 class="compare-new-header text-center" style="line-height: 24px;">Обработка товара по системе <b>FBS</b>
            <span class="bold">(10x10x10 см) (до 500 гр)</span>
          </h2>
        </header>
        <dl aria-label="scientific classification">
          <div class="compare-item">
            <dt>1) Разгрузка</dt>
            <dt>2) Приёмка</dt>
            <dt>3) Хранение</dt>
            <dt>4) Маркировка (Штрихкод, QR Code)</dt>
            <dt>5) Упаковка в воздушно-пузырьковую плёнку
            </dt><dt>6) Упаковка в ПВД рукав</dt>
            <dt>7) Финальная маркировка (Штрих-код, QR Code)</dt>
            <dt>8) Доставка до ПВЗ маркетплейса</dt>
            <br>
            <span class="mobon">&nbsp;</span>
          </div>
          <div class="compare-item --foot">
            <dt class="orange price fbs text-center">70 ₽</dt>
          </div>
        </dl>
      </section>
    </div>

    </div>
    </article>
</body>
</html>